.grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    gap:10px;

    grid-template-areas: 
    "header header menu"
    "body body menu";
}

.header{
    grid-area: header;
}

.body{
    grid-area: body;
}

.menu{
    grid-area: menu;
}