table{
    border-collapse: collapse;
    margin: 10px 0;
    min-width: 400px;
    display: grid;
    justify-content: center;
}


table thead tr {
    background-color: var(--background-selected-color-menu-button);
    color: #ffffff;
    text-align: left;
}

table th, 
table td{
    padding: 12px 15px;
}