:root {
    --primary-color-black: #0d0713;
    --primary-color-dark: #1D1128;
    --primary-color-gray: #514F59;
    --secondary-color: #5941A9;
    --secondary-light: #6D72C3;
    --secondary-accent: #E5D4ED;
}
