:root {
    --primary-color-black: #0d0713;
    --primary-color-dark: #9FB3DF;
    --secondary-color: #9EC6F3;
    --secondary-light: #BDDDE4;
    --secondary-accent: #FFF1D5;

    --background-color: #ffffff;
    --text-color: rgba(243, 244, 246, 1);

    --background-selected-color-menu-button: #061c33;
    --background-color-menu-button: #a79f9f;
}

html.dark {
    --primary-color-black: rgba(17, 24, 39, 1);
    --primary-color-dark: rgba(156, 163, 175, 1);
    --secondary-color: #872341;
    --secondary-light: #BE3144;
    --secondary-accent: #E17564;

    --background-color: #000000;
    --text-color: rgba(243, 244, 246, 1);

    --background-selected-color-menu-button: rgba(167, 139, 250, 1);
    --background-color-menu-button: rgba(17, 24, 39, 1);
}

img{
    max-width: 300px;
}

.card-container{
    box-sizing: border-box;
    background-color: var(--primary-color-black);
    border: 3px solid var(--secondary-accent);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    
    min-height: 50px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.card-container:hover {
    border-color: var(--secondary-color);
}

.card-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}