---
import UserHeader from "./user_header.astro"
import NavButton from "./nav-button.astro"
import "@styles/menus.css"

// icons
import IconDashboard from "@icons/icon-dashboard.astro"
import IconTime from "@icons/icon-time.astro"
import IconDatabase from "@icons/icon-database.astro"
import IconDollar from "@icons/icon-dollar.astro"
import IconBoxes from "@icons/icon-boxes.astro"
import IconModel from "@icons/icon-model.astro"
import IconSettings from "@icons/icon-settings.astro"
import IconTheme from "@icons/icon-theme_color.astro"

const currentPath = Astro.url.pathname;
---

<aside aria-label="Main navigation" class="main-aside-nav flex-column"> 
    <div class="card-container nav-main flex-column">
        <nav class="tab-container">
            <ul class="nav-main_list flex-column tab-menu">
                <NavButton text = "Cotizaciones" href="/" active={currentPath === "/"}>
                    <IconDashboard />
                </NavButton>
                <NavButton text = "Cronograma" href="/cronogram" active={currentPath === "/cronogram"}>
                    <IconTime />
                </NavButton>
                <NavButton text = "Base de Datos" href="/database" active={currentPath === "/database"}>
                    <IconDatabase />
                </NavButton>
                <NavButton text = "Estado del Negocio" href="/business" active={currentPath === "/business"}>
                    <IconDollar />
                </NavButton>
                <NavButton text = "Inventario" href="/inventory" active={currentPath === "/inventory"}>
                    <IconBoxes />
                </NavButton>
                <NavButton text = "Modelos" href="/print-models" active={currentPath === "/print-models"}>
                    <IconModel />
                </NavButton>
                <NavButton text = "Settings" href="/">
                    <IconSettings />
                </NavButton>
                <!-- <button id="toggle-aside" class="toggle-btn">☰</button> -->
            </ul>
        </nav>
    </div>    
    <div class="card-container nav-utils tab-menu">
        <UserHeader />
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const aside = document.querySelector(".main-aside-nav");
        const toggleBtn = document.getElementById("toggle-aside");

        toggleBtn?.addEventListener("click", () => {
            aside?.classList.toggle("collapsed");
        });
    });
</script>

<style>
    aside{
        height: 100%;
        box-sizing: border-box;
        margin: 0 10px 0 0;
        gap: 10px;
        width: 200px;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
    }

    .main-aside-nav{
        align-items: center;
    }

    .nav-main{
        height: 100%;
    }
    .nav-utils{
        height: 25%;
    }
    
    .nav-main, .nav-utils{
        justify-content: center;
    }

    .nav-main_list{
        padding:0;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        height: 95%;
        gap: 10px;
    }
</style>