---
import "@styles/menus.css"
const {text,href, class:extraClass,id:newId, active} = Astro.props

export interface Props{
    id?:string;
    text:string;
    href?: string;
    class?:string;
    active?: boolean;
}

let ref_url = href ?? "#"
---

<button id=`${newId}` class={`nav-button ${extraClass ?? ``} ${active ? `active` : ``}`} onclick={`window.location.href='${ref_url}'`}>
    <div class="nav-slot">
        <slot />
    </div>
    <div class="nav-text">
        {text}
    </div>
</button>

<style>
    .nav-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 13px;
    }
</style>