---
import IconPerson from "@icons/icon-person.astro"

const data = Astro.locals
const isLogin = !!data.user?.id;
---

<div class="user-header">
    <div class="user-button">
        {isLogin ? 
            <div class="user-data">
                <IconPerson />
                <div class="nav-text">
                    {data.user?.username}
                </div>
            </div>
            :
            <div class="user-data">
                <IconPerson />
                <div class="nav-text">
                    Guest
                </div>
            </div>
        }
    </div>
    <div class="user-menu">
        {isLogin ?
            <div class="menu-form">
                <form method="post" action="/logout">
                    <button type="submit" class="menu-item">Log Out</button>
                </form>
            </div>
            :
            <div class="menu-form">
                <form method="post" action="/login">
                    <button type="submit" class="menu-item">Log In</button>
                </form>
                <form method="post" action="/signup">
                    <button type="submit" class="menu-item">Sign Up</button>
                </form>
            </div>
        }
    </div>
</div>

<style>
    .menu-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .user-data{
        text-align: center;
    }

    .user-menu{
        visibility: hidden;
    }

    .user-header:hover .user-menu{
        visibility: visible;
    }
    
</style>